<h2 class="screen-align">Screenone</h2>
<label id="template-i26i" class="label ">
    <div id="template-ivnj" class="">Name:</div>
</label>
<input id="template-ijk2" placeholder="Enter the name" required="true"
[(ngModel)]="entity.name" [ngModelOptions]="{standalone: true}" ngDefaultControl
class="input form-control " />
<label id="template-i0cj" class="label ">
    <div id="template-i66x" class="">Age:</div>
</label>
<input id="template-i63m" placeholder="Enter the age" required="true"
[(ngModel)]="entity.age" [ngModelOptions]="{standalone: true}" ngDefaultControl
class="input form-control " />
<div id="template-idlx" class="button btn btn-primary ">Create</div>